.social-sprite, .home_house, .home_map, .home_letter {
  background-image: url('../img/social-s40cd45f454.png');
  background-repeat: no-repeat;
}

.home {
  float: right;
  width: 65px;
  margin: 17px 8px 17px 0;
  padding: 1px 4px 5px 7px;
  border: 1px solid #c1c8cb;
  border-radius: 12px;
  -webkit-box-shadow: 2px 3px 4px 0px #d2d7d9;
  -moz-box-shadow: 2px 3px 4px 0px #d2d7d9;
  box-shadow: 2px 3px 4px 0px #d2d7d9;
}
.home_mr {
  display: inline-block;
  margin-right: 6px;
}
.home_house {
  padding-left: 11px;
  padding-top: 12px;
  background-position: 0 -158px;
}
.home_map {
  padding-left: 14px;
  padding-top: 10px;
  background-position: 0 -289px;
}
.home_letter {
  margin-right: 0;
  padding-left: 11px;
  padding-top: 9px;
  background-position: 0 -206px;
}
