@import url(address.css);
@import url(registration.css);
@import url(home.css);
@import url(top-menu.css);
@import url(asideLeft.css);
@import url(asideRight.css);
@import url(main.css);
@import url(sponser.css);
@import url(menu-bottom.css);
.social-sprite {
  background-image: url('../img/social-s40cd45f454.png');
  background-repeat: no-repeat;
}

* {
  margin: 0;
  padding: 0;
}

.page {
  width: 910px;
  margin: 0 auto;
  padding: 0 45px 0 45px;
  font-family: 'Lucida Sans Unicode', arial, sans-serif;
}

.zazor {
  display: block;
  position: relative;
  top: -4px;
}

.footer {
  height: 85px;
  padding-top: 7px;
  background-color: #213a4d;
  text-align: center;
}
.footer_master {
  text-align: center;
  color: #7f4740;
  font-family: Arial, sans-serif;
  font-size: 10px;
}
